.HeaderHome {

    text-align: center;
    img {
        width: 330px;
        border-radius: 70px;
        padding: 24px;
    }
    
    background-color: #ED3630;
    color: rgb(227, 233, 255);
    border-radius: 20px;

    p {  
        font-size: 20px;
    }

}

body {
    background-color:#FFDCA4;
}

p {
    font-size: 20px;
}


.ContHome {
    font-family: "Lilita One", sans-serif;
    position: flex;
    left: 5px;
    width: 100%;
    text-align: right;
    z-index: 2;
    h1 {
        color: #ffffff;
        font-size: 50px;
        text-shadow: 6px 0px 0px #be130d;
    }
    img {
        width: 50px;
        position: flex;
        padding: 0 0 11px 0;
        border: 2px hidden;
        border-radius: 20px;
        display: inline-block;
        background-color: #FFFFFF;

    }
    h3 {
        font-family: "Unna";
        font-size: 17px;
        border: 2px hidden;
        border-radius: 20px;
        display: inline-block;
        padding: 8px 16px;
        background-color: #FFFFFF;
    }
}

.HomeImagens {
    display: flex;
    padding: 0 0 0 125px;
    margin-top: 32px;
}

.HomeImagens img {
    width: 400px;
    object-fit: stretch;
}