.HeaderHome {

    text-align: center;
    img {
        width: 330px;
        border-radius: 70px;
        padding: 24px;
    }
    
    background-color: #ED3630;
    color: rgb(227, 233, 255);
    border-radius: 20px;

    p {  
        font-size: 20px;
    }

}

body {
    background-color:#FFDCA4;
}

p {
    font-size: 20px;
}

.HomeImagens {
    display: flex;
    padding: 150px 0 0 200px;
    margin-top: 32px;
}

.HomeImagens img {
    border-radius: 5px;
    width: 380px;
    object-fit: cover;
}